* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: row; /* Делаем элементы в строку */
    align-items: flex-start; /* Выравниваем элементы по верху */
}

.App {
    flex-grow: 1;
    padding: 0; /* Отступы убираем, контролируем их в других блоках */
}

.post {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 20px; /* Теперь отступ от createCardButtonContainer */
    justify-content: space-between;
    align-items: center;
    margin-left: 2cm; /* Отступ слева 2 см */
    margin-right: 2cm; /* Отступ справа 2 см */
    width: calc(100vw - 6cm - 4cm); /* Учитываем navbar и отступы */
}

.post__btns{
    display: flex;
}

.remove-btn {
    margin-right: 0.5rem;
  }
  
.post-enter {
    opacity: 0;
  }
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
.post-exit {
    opacity: 1;
  }
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

  .page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 80vw;
    display: flex;
    align-items: center;
    padding: 0 15px; /* Отступы слева и справа */
    background: lightgray;
}

.navbar__links {
    padding: 0 15px;
    display: flex;
}

.navbar__links > * + * {
    margin-left: 20px; /* Устанавливаем отступ между элементами */
}

.card_form {
    display: 'flex';
    justify-content: 'center';
    width: '400px';
}

.card-header {
    text-align: center;
    padding: 15px 20px;
    border-radius: 20px;
    margin-bottom: 15px; /* Добавил отступ снизу */
}