.myBtn {
  padding: 0.5vw 1.5vw; /* Уменьшены отступы */
  font-size: 0.875rem; /* Меньший размер шрифта */
  font-weight: 500;
  color: #ffffff;
  border-radius: 20px; /* Уменьшенный радиус скругления */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 3px; /* Уменьшены отступы между кнопками */
  background: linear-gradient(135deg, #af9176, #8b6064); /* Новый градиент */
  flex-grow: 1; /* Адаптивный размер */
}

.myBtn:hover {
  background-color: #4a6b60;
  transform: translateY(-1px);
}

.myBtn:active {
  background-color: #2e4237;
  transform: translateY(0);
}

.myBtn.cancel {
  background-color: #e0e0e0;
  color: #333333;
}

.myBtn.cancel:hover {
  background-color: #cccccc;
}

.myBtn.delete {
  background-color: #d32f2f;
}

.myBtn.delete:hover {
  background-color: #b71c1c;
}

.myBtn.edit {
  background-color: #1976d2;
}

.myBtn.edit:hover {
  background-color: #1565c0;
}

.myBtn.details {
  background-color: #4caf50;
}

.myBtn.details:hover {
  background-color: #388e3c;
}
