.tabs {
  display: flex;
  justify-content: center;
  gap: 8px; /* Уменьшил расстояние между кнопками */
  padding: 5px; /* Уменьшил отступы внутри контейнера */
  background-color: #f5f5f5;
  border-radius: 8px;
  flex-wrap: wrap;
}

.tabs h6 {
  padding: 6px 12px; /* Сделал кнопки меньше */
  cursor: pointer;
  font-size: 13px; /* Уменьшил размер шрифта */
  color: #666666;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
  border-radius: 6px; /* Чуть скруглил углы */
  text-align: center;
}

.tabs h6:hover {
  background-color: #e0e0e0;
  color: #333333;
}

.tabs .active {
  background-color: #007bff;
  color: white;
}

